
.no_padding{padding: 0}
p{margin-bottom: 0}
.green_bgcolor{ background:#72AA2F; color: #fff; font-weight:bold;}
img{max-width: 100%}
.heading{}





header{ box-shadow:0px 0px 5px #000;background:#72AA2F; width: 100%; padding:0px 0px;padding-bottom:2px; float: left; background:#fff}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding:5px 40px;
}
.main-login {/*
    background-color: #4B67AF;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}
.inner_side{margin:2px;float: left;padding:5px;width: 100%;min-height:120px;transition: all 0.5s ease-in-out 0s; }
.mcm_tect{ font-size: 30px; color: #091d8d; font-weight: bold; margin-top:5px;padding-top:20px}
.inner_side b{color: #3c5ca9; float: left;width:100%; padding-top:3px; text-decoration: underline;}
.log_leftsid p{color: #000; font-weight: bold; font-size: 12px;}
.set_scrool{padding: 7px 20px;}
.bg_color{ background:#72AA2F; padding:30px 10px}
.white_bg{background: #fff;padding:20px 20px;padding-top:0;padding-bottom:0;text-align:center; margin: 10px 0px} /*box-shadow:0px 0px 5px #c8c8c8; */
.heading{color:#72AA2F;font-size:12px; margin: 0; padding:0px;padding-top:3px; }
.login_screen .form-group label{float: left;width: 100%; text-align: left;color: #fff; padding:7px 0px}
.input-group-addon{ background: #091d8d; font-weight: bold; color: #fff; border-radius: 0; border:0;}
.main-center input{border:0; border-radius: 0; color: #000}
.btn.btn-default.green_bgcolor { background: #091d8d none repeat scroll 0 0;transition: all 0.5s ease-in-out 0s;
    border:5px solid #f2f2f2; border-radius: 50%; right: -18px; padding: 5px 6px;position: absolute;top:-63px;z-index: 999;
}
.inner_side:hover{background: #fff;box-shadow: 0px 0px 10px #d2d2d2;cursor: pointer;transition: all 0.5s ease-in-out 0s;}
.inner_side:hover p{color: #000; cursor: pointer;transition: all 0.5s ease-in-out 0s;}
.inner_side:hover b{color: #72aa2f; cursor: pointer;transition: all 0.5s ease-in-out 0s;}
.inner_side:hover img{background: #fff; box-shadow:0 2px 5px #999;transition: all 0.5s ease-in-out 0s;}
footer{ background: #fff; font-size:13px; padding:3px; position:fixed;bottom: 0; left: 0; right: 0}
.btn.btn-default:hover{ border-radius:17px 0px 17px 0;color: #000;background: #fff;transition: all 0.5s ease-in-out 0s;}
.header_right{ background: #f00;}
.header_right {background: #fff none repeat scroll 0 0; color: #091d8d;font-weight: bold;}
.dedicate_text{ margin-top:0px; background:#1448a0;font-weight: bold;color: #fff;}
.header_right .nav li{padding-right:5px;padding-left:20px;}
.edit_weather img{height:250px}
/*section{margin: 0; padding:0;float: left;width: 100%}*/
.width_20{width: 25%; margin: 0; padding:5px;float: left;}
.width_80{width: 75%; margin: 0; padding:5px; float: left;}
.width_20{}
.width_20 img{background: #d7d7d7; box-shadow:0 2px 4px #808080;padding:5px;border-radius:50%}
.login_screen .form-group{margin-bottom:7px}
section{margin:0; padding:0; float: left;width: 100%;background: #efeeec; padding-bottom:5px}
.logo img{width:120px; padding:10px 5px;}
.header_right .nav li:before { font-family: FontAwesome;
    content: "\f192  ";font-size:12px;color: #72aa2f; opacity: 0.7}
.res_ftr{color: #3c5ca9}



@media screen and (max-width:1199px) {



}
@media screen and (max-width:1039px) {

    .inner_side {min-height:130px}

}
@media screen and (max-width:991px) {


    .inner_side {min-height:130px}
    .log_rightsid{padding-top:10px;}
    .heading {font-size: 25px;padding: 30px 40px;}
    footer{position: unset;}


}
@media screen and (max-width:768px) {

    .header_right{border-radius: 0}
    .inner_side{min-height:120px}
    .logo{width: 100%; text-align:center;}
    .header_right .nav li{float: left;}
    .logo img {padding: 2px 5px;}
    .header_right .nav li {padding: 0; padding-right:8px}
    .mcm_tect{padding-top:0px}
    .full_width{width: 100%}
    .log_rightsid{padding-top:0px;}
    .heading {font-size:20px;padding:15px 20px;}


}
@media screen and (max-width:480px) {

    .inner_side {min-height:135px}
    .header_right{padding:0px 20px 0px 30px}
}
@media screen and (max-width:420px) {

    .box_type{width: 100%}
    .inner_side {min-height:auto}
    .header_right{padding:0px 0px 0px 35px}
    .res_ftr{width: 100%; padding:3px 5px; text-align: center;}

}