<header>
  <div class="container-fluid">
    <div class="row">
      <div class="logo pull-left">
        <img src="http://fmpmcm.mcmservice.com/images/logo.jpg" alt="">
      </div>
      <div class="header_right pull-left">
        <ul class="nav">
          <li>Contact MCM :</li>
          <li>dispatch@mcmservice.com</li>
          <li>Dispatch: (800) 274-1626</li>
          <li>After Hours:&nbsp;(210) 643-1294</li>
        </ul>
      </div>
      <div class="logo col-md-7 col-sm-6 col-xs-7">
        <h3 class="text-center mcm_tect">MCM SERVICES</h3>
      </div>

    </div>
  </div>
  <p class="dedicate_text text-center">Dedicated to Servicing OEM and Proprietary Equipment Since 1980</p>
</header>
<div class="clr-fix"></div>
<section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-sm-12 log_leftsid full_width set_scrool">
        <div class="row">
          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="no_padding width_20">
                  <img src="assets/images/On-Site-Service.png" alt="">
                </div>
                <div class="no_padding width_80">
                  <b>On-Site Service</b>
                  <p>servicing products at your place of business.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Help-Desk.png" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Help Desk</b>
                  <p>MCM’s team of trained specialists answers the call for superior service.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Installation-De-Installation.png" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Installation / De-Installation</b>
                  <p>Remove old equipment and install new equipment on time and under budget.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Depot-Repair-Services.png" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Depot Repair Services</b>
                  <p>MCM provides depot support for your service needs.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Preventative-Maintenance.png" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Preventative Maintenance</b>
                  <p>Extend the life of your products and reduce downtime.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Call-Tracking-System.png" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Call Tracking System</b>
                  <p>Utilize our call tracking system as your own and for your customers.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Warranty-Consulting-Services.png" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b style="font-size: 13px">Warranty Consulting Services</b>
                  <p>Expert advice as to how to increase revenue while lowering your warranty cost</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Training-Program.png" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Training Program</b>
                  <p>Provide training for technicians and customers worldwide.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Warranty-Service-Programs.png" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Warranty Service Programs</b>
                  <p>Sell extended warranties without the additional financial exposure.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Pre-Site-Survey.jpg" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Pre-Site Survey</b>
                  <p>Collect valuable on-site information for new product installations.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Parts-Management.png" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Parts Management</b>
                  <p>Track parts in inventory, in transit, and in the field.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 box_type">
            <div class="row">
              <div class="inner_side">
                <div class="width_20 no_padding">
                  <img src="assets/images/Rollout-Services.jpg" alt="">
                </div>
                <div class="width_80 no_padding">
                  <b>Rollout Services</b>
                  <p>Use our resources to manage on-site equipment installations.</p>
                </div>
              </div>
            </div>
          </div>




        </div>
        <div class="col-xs-5 log_rightside">
          <div class="row"></div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 log_rightsid full_width text-center">
        <div class="row">

          <h3 class="heading text-center"><b>"Service is our Business. Excellence is our Goal."</b></h3>
          <div class="main-login main-center">
            <form class="form-horizontal login_screen" method="post" action="#">
              <div class="form-group">
                <!-- <label for="username text-left" class="cols-sm-2 control-label">User Name</label> -->
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="username" id="username"  placeholder="Username"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <!-- <label for="password" class="cols-sm-2 control-label">Password</label> -->
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" id="password"  placeholder="Password"/>
                  </div>
                </div>
              </div>
              <div class="form-group text-right" style="position: relative;">
                <div class="btn btn-default green_bgcolor" (click)="login()">Go</div>
              </div>
            </form>
          </div>

        </div>
      </div>

      <div class="col-md-3 col-xs-6 full_width text-center">
        <div class="row">
          <div class="fedex_logo">
            <img src="http://fmpmcm.mcmservice.com/images/logo-header.png" alt="">
          </div>
          <div class="fedex_logo">
            <img src="http://fmpmcm.mcmservice.com/images/MCM25.png" alt="">
          </div>
        </div>

      </div>
      <div class="col-md-3 col-xs-12 full_width text-center">
        <div class="row">
          <div class="iframe_weather">
            <iframe src="https://weather.com/en-IN" width="100%" height="120px"></iframe>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>