<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
<app-appheader>

</app-appheader>
<app-appmenu>

</app-appmenu>
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
          <h1>
              Widgets
              <small>Preview page</small>
          </h1>
          <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              <li class="active">Widgets</li>
          </ol>
      </section>

      <!-- Main content -->
      <section class="content">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <app-iconinfobox [title]="'kiruthika'" [count]="1234" [bgcolor]="'green'" [icon]="'fa-flag-o'"></app-iconinfobox>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <app-iconinfobox [title]="'Hello'" [count]="1234" [bgcolor]="'maroon'" [icon]="'fa-envelope-o'"> </app-iconinfobox>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <app-iconinfobox [title]="1111" [count]="1234" [bgcolor]="'navy'" [icon]="'fa-files-o'"></app-iconinfobox>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <app-iconinfobox [title]="'Hello'" [count]="1234" [bgcolor]="'red'" [icon]="'fa-comments-o'"></app-iconinfobox>
          </div>

      </div>
          <div class="row">

              <div class="col-md-3 col-sm-6 col-xs-12">
                  <app-smallinfobox [title]="'Note'" [count]="134" [color]="'maroon'" [icon]="'fa-shopping-cart'"></app-smallinfobox>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <app-smallinfobox [title]="'Note'" [count]="134" [color]="'green'" [icon]="'fa-shopping-cart'"></app-smallinfobox>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <app-progressinfobox [title]="'Sathish'" [icon]="'fa-bookmark-o'" [count]="123" [color]="'red'" [percent]="90" [days]="30">

                  </app-progressinfobox>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <app-progressinfobox [title]="'Sathish'" [icon]="'fa-bookmark-o'" [count]="123" [color]="'navy'" [percent]="90" [days]="30">

                  </app-progressinfobox>
              </div>
          </div>
          <br>
          <br>
          <br>
      </section></div>

<app-appfooter>

</app-appfooter>
    <div class="clearfix"></div>
</div>
</body>
